@charset "utf-8";

body,header,section,nav,aside,footer,address,div,span,img,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,a,figure,figcaption{
    margin:0;padding:0;border:none;box-sizing:border-box;
}
form,button,input,select,option{margin:0;padding:0;box-sizing:border-box;}
ul,li,ol{list-style:none;}
div,p,li,span,h1,h2,h3,h4,h5,h6,address,a,button,label,select,option{
    font-size:13px;color:#333;line-height:1.8em;font-weight:400; font-family: 'Noto Sans KR', sans-serif;
}
a{text-decoration:none;}
.clearfix::after{display:block;content:"";clear:both;}
